<h1>GOALS LIST</h1>
<div *ngFor="let goal of goalsList; let i=index">
  <mat-card>
    <mat-card-title>{{ goal.title }}</mat-card-title>
    <mat-card-content>{{ goal.description }}</mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="deleteGoals(i)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<mat-card>
  <mat-card-title>New Goals</mat-card-title>
  <form [formGroup]="goalsForm" (ngSubmit)="onSubmit()">
    <div formArrayName="goals">
    <div *ngFor="let goal of goals().controls; let i=index" [formGroupName]="i">
      <button mat-mini-fab color="warn" (click)="removeGoal(i)">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" class="form-control">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" class="form-control"></textarea>
      </mat-form-field>
    </div>
  </div>

    <button mat-flat-button color="primary" type="submit">Save</button>
  </form>
  <button mat-flat-button color="accent" (click)="addGoal()">Add a New Goal</button>
</mat-card>
